<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper_name">
	<select id="select" resultType="com.jun.spring.vo.NewVO">
		SELECT * FROM junpro.junpro;
	</select>
	<insert id="insert" parameterType="com.jun.spring.vo.NewVO">
		INSERT into junpro.junpro(name, id, pw, date) values (#{name},#{id},#{pw},#{date});
	</insert>
	<delete id="delete" parameterType="com.jun.spring.vo.NewVO">
		DELETE FROM junpro.junpro WHERE pw =  #{pw};
	</delete>
	<select id="login" resultType="com.jun.spring.vo.LoginVO" parameterType="com.jun.spring.vo.LoginVO">
		SELECT * FROM junpro.junpro where id = #{id} AND pw = #{pw};
	</select>
	<select id="detail" resultType="com.jun.spring.vo.DetailVO" parameterType="com.jun.spring.vo.DetailVO">
		SELECT * FROM junpro.junpro where name = '${name}';
	</select>
	<update id="fileup" parameterType="com.jun.spring.vo.FileUpVO">
		UPDATE junpro.junpro SET file = '#{file}' WHERE id = '#{id}';
	</update>
</mapper>